* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 0;
  padding-bottom: 3rem;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  background-color: var(--color-4);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-1: #590d22;
  --color-2: #800f2f;
  --color-3: #a4133c;
  --color-4: #c9184a;
  --color-5: #ff4d6d;
  --color-6: #ff758f;
  --color-7: #ff8fa3;
  --color-8: #ffb3c1;
  --color-9: #ffccd5;
  --color-10: #fff0f3;
  --font-1: 'Raleway', sans-serif;
  --font-2: 'Dancing Script', cursive;
  --font-3: 'Shadows Into Light', cursive;
}
