.header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 60vh;
  display: block;
  object-fit: cover;
  object-position: center;
}

.title {
  padding: 2rem;
  font-family: var(--font-2);
  font-size: 3rem;
  text-align: center;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-3);
}

.subtitle {
  font-size: 3rem;
}

@media (min-width: 31.25em) {
  .title {
    flex-direction: row;
  }
}

@media (min-width: 34.375em) {
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 3rem;
  }
}
